<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="NETStandard.Library" version="2.0.3" />
  <package id="PDFiumSharpV2" version="1.1.4" manuallyInstalled="true" />
  <package id="PdfiumViewer" version="2.13.0" manuallyInstalled="true" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" manuallyInstalled="true" />
</packages>